# ScreenGuard
SG_SERVER_SECRET=replace-with-a-random-64-character-hex-secret
SG_WEBUI_SECRET=replace-with-a-random-64-character-hex-secret
DOCKER_VOLUME=/mnt/docker_data/volumes

# PostgreSQL
#PG_DATABASE=screenguard
PG_USER=screenguard
PG_PASSWORD=replace-with-a-random-password
